:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(212, 211, 211);
    --main-bg-color: black;
    --accent-color: rgb(151, 151, 151);
    color: var(--main-color);
    scroll-behavior: smooth;
}

.logo-main a img {
    width: 100%;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: black;
    color: rgb(212, 211, 211);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header nav {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 50px 0;
}

header nav .logo-main {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

header nav .top-menu ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

header nav .top-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 8px;
    border: 1px solid transparent;
}

header nav .top-menu .nav-link {
    padding: 0px;
    margin: 0;
}

/* header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
} */

@media (min-width: 500px) {
    header nav {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    }

     header .top-menu {
        flex: 1;
    }
}

    header .baner {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    min-height: 600px;
    background-image: url(../img/backdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
}

header .baner .baner-container {
    grid-column: 2;
    background-color: rgba(61, 61, 59, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    .full-row {
        display: flex;
        flex-direction: row;
    }
}

header .baner h1 {
    font-size: 2rem;
    margin: 10px;
}

header .baner h2 {
    margin-top: 20px;
}

@media (min-width: 400px) {
    .text-italic {
        font-size: 1.5rem;
    }
}

#products h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px;
}

.contactus-one {
    padding: 40px;
}

.contactus-one .contact-form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    height: 50px;
}
.contactus-one .contact-form .form-control {
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}
.contact-info > div > p {
    margin-bottom: 10px;
}
.contactus-one .contact-info p i {
    margin-right: 15px;
    color:#ee2b63;
}

.contactus-one .dart-headingstyle-one .dart-heading:after{
    left:15px;
}

.normal-btn {
    background: #ee2b63 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

footer .logo {
    display: flex;
    justify-content: center;
}

footer .copyright {
    display: flex;
    justify-content: center;
    padding: 50px;
}


