:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(212, 211, 211);
    --main-bg-color: black;
    --accent-color: rgb(151, 151, 151);
    color: var(--main-color);
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: black;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    padding: 50px 0;
}

header nav .logo-main {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

header nav .top-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
}

header nav .top-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 8px;
    border: 1px solid transparent;
}

header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 500px) {
    header nav {
    display: flex;
    align-items: center;
    }

     header .top-menu {
        flex: 1;
    }
}

    header .banner {
    background-image: url(../img/backdrop.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 100px;
    flex-direction: column;
    letter-spacing:1px;
    font-size:15px;
    color: var(--main-bg-color);
    text-shadow: 1px 1px 1px rgb(146, 146, 146);
}

header .banner .title {
    color: var(--accent-color);
}

@media (min-width: 600px) {
    header .banner {
        background-position: top;
    }
}

main .product-list .product-card img {
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 580px) {

    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }    

}

@media (min-width: 660px) {

    main .product-list {
        grid-template-columns: 1fr 1fr;
    }    
}

#products h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

.contact {
    display: flex;
    padding: 20px;
}

.contact-you {
    flex: 2;
    font-size: 15px;
    letter-spacing: 2px;
}

#contact {
    flex: 2;
    font-size: 15px;
    letter-spacing: 2px;
}

INPUT {
    background-color: rgb(0, 0, 0);
    color: rgb(190, 190, 190);
    padding: 3px;
    border: 0.5px solid rgb(184, 182, 182);
}

#msg {
    background-color: rgb(0, 0, 0);
    color: rgb(190, 190, 190);
    padding: 3px;
    border: 0.5px solid rgb(184, 182, 182);
}

footer .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
}

footer .copyright {
    display: flex;
    justify-content: center;
    padding: 50px;
}