:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(212, 211, 211); --main-bg-color: black; --accent-color: rgb(151, 151, 151); color: var(--main-color);
    scroll-behavior: smooth;
}

.logo-mein a img {
    width: 100%;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: black;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 211, 211);
    padding: 30px;
}

header nav {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 50px 0;
}

header nav .logo-main {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

header nav .top-menu ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

header nav .top-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 8px;
    border: 1px solid transparent;
}

header nav .top-menu .nav-link {
    padding: 0px;
    margin: 0;
}

button.btn.btn-info, .btn:hover {
    background-color: #030303;
}

.btn-info, .btn {
    color: #fff;
    background-color: rgb(25, 25, 25);
    font-size: 0.765625rem;
    border-color: #1a1a1a;
    border: 0px solid transparent;
}

@media (min-width: 500px) {
    header nav {
        display: grid;
        grid-template-columns: 3fr 7fr;
        align-items: center;
    }

    header .top-menu {
        flex: 1;
    }
}

footer .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
}

footer .copyright {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}